<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!-- sidebar content -->
            
            <p>
                Search: 
                <input ng-model="$ctrl.query" />
            </p>
            
            <p>
                sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </p>
            
        </div>
        <div class="col-md-10">
            <!-- body content -->
            
            <ul class="phones">
              <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
                  <a href="#!/phones/{{phone.id}}" class="thumb">
                    <img ng-src="{{phone.imageUrl}}" title="{{phone.name}}" /></a>
                  <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
                <p>{{phone.snippet}}</p>
              </li>
                <p>Total number of phones: {{$ctrl.phones.length}}</p>
            </ul>
            <p>Current value of the query: {{$ctrl.query}}</p>
            <p>Current value of orderProp: {{$ctrl.orderProp}}</p>
        </div>
    </div>
</div>
<!--<pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre>-->